.task-list-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

    .task-list-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #000;
        padding: 5px;
        margin: 5px;
        width: 100%;
    }
}