@use '../global/variables' as *;

.btn {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: 2px 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
}

// Botão do formulário para criar tarefas
.btn-topic-confirm {
    background-color: #007bff;
    color: #fff;
}


.task-submit-button {
    background-color: var(--secondary-color);
    color: #fff;
    font-size: 0.8em;
}

.go-topic-button {
    background-color: #e91e63;
    color: #fff;
}

.task-cancel-button {
    background-color: #fd3232;
    color: #fff;
}

// Botão para salvar as ações escolhidas da página de interface
.btn-save-actions {
    @extend .btn;
    color: #fff;
    background-color: #007bff;
    
    &.active { 
        border: 2px solid #007bff; 
    }
}
