@use '../global/variables' as *;
@use '../global/mixins.scss' as *;

.card {
    font-size: 0.9rem;
    @include cardTarefa;

    & .card-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $color-borber;

        & .card-title {
            font-size: 1.2em;
            margin-bottom: 5px;
        }

        & .more-btn {
            cursor: pointer;
            border: 1px solid var(--border-color);
            border-radius: 8px;
            background-color: var(--primary);
            color: var(--text-color-2);
            font-size: 0.8rem;
            padding: 3px;
            margin: 0px 5px;
            transition: all 0.3s ease;
            box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.3);

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    & .task-image-and-description-section {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;
        padding: 5px;
        width: 100%;
        box-sizing: border-box;

        & .card-image {
            border-radius: 5px;
            width: 195px;
            height: 150px;
            margin: 5px 0;
        }

        & .task-description {
            width: 50%;
        }
    }

    & .card-topics {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 5px 0;

        & .card-topics__title {
            color: var(--primary);
        }

        & .description-section__arrows {
            display: flex;
            justify-content: space-between;
            align-items: center;

            & .topic-item__arrow {
                font-size: 1.5rem;
                margin: 5px;
                transition: all 0.5s ease;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        & .topic-list {
            display: flex;
            flex-direction: column;
            border: 1px solid var(--border-color);
            border-radius: 8px;
            padding: 6px 10px;
            width: 100%;

            & .topic-item {
                margin: 5px 0;

                & .topic-item__description-section {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;

                    & .topic-description {
                        margin: 5px 10px;
                    }
                }
            }
        }
    }

    & .card-description {
        font-size: 0.9em;
        color: #555;
    }

    & .card-footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 10px;

        & .status-date-section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            & .card-date {
                font-size: 0.8em;
                color: #888;
            }

            & .status-container {
                display: flex;
                flex-direction: row;
                padding: 5px;

                & .status-card-title {
                    font-size: 0.9rem;
                    margin-right: 2px;
                }
                & .card-status {
                    font-size: 0.8em;
                    color: #58c8e4;
                    margin: 2px 0;
                }
            }       
        }

        & .button-section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            gap: 5px;
            margin-top: 10px;

            & .card-button {
                cursor: pointer;
                color: var(--text-color-2);
                border: none;
                border-radius: 5px;
                padding: 5px 10px;
                transition: all 0.3s ease;

                &:hover {
                    transform: translateY(-5px);
                    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
                }
            }

            & .completed-button {
                background-color: var(--secondary-color);
            }

            & .edit-button {
                background-color: var(--primary);
            }

            & .cancel-button {
                background-color: #de1c1c;
            }
        }
    }
}

.card:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
}

// Card específica para tarefas favoritas
.favorite-task-card{
    @extend .card;
    background-color: $primary-light;
}

// Card para sessão de ajuda
.help-card {
    @include help-card;
}
