@use '../global/variables' as *;
@use '../global/mixins.scss' as *;

.card {
    @include cardTarefa;

    & .card-title {
        border-bottom: 1px solid $color-borber;
        font-size: 1.2em;
        margin-bottom: 5px;
    }

    & .card-image {
        width: 100%;
        max-width: 70px;
        height: auto;
        border-radius: 5px;
        margin: 5px 0;
    }

    & .card-description {
        font-size: 0.9em;
        color: #555;
    }

    & .card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;

        & .card-date {
            font-size: 0.8em;
            color: #888;
        }

        & .card-status {
            font-size: 0.8em;
            color: #58c8e4;
        }

        & .card-button {
            cursor: pointer;
            color: #fff;
            border: none;
            border-radius: 5px;
            background-color: $primary-light;
            padding: 5px 10px;
            transition: all 0.3s ease;

            &:hover {
                transform: translateY(-5px);
                background-color: #d65a63;
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
            }
        }
    }
}

.card:hover {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
}

// Card específica para tarefas favoritas
.favorite-task-card{
    @extend .card;
    background-color: $primary-light;
}
