.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 10px;
    width: 15%;
    height: 95vh;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

    & .navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #ed7c87;
        padding: 10px;
        margin: 10px 0;
        width: 50%;
        height: 50vh;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.02);
        }

        .menu-items {
            margin: 3px;
            transition: all 0.3s ease;
        }

        .menu-items:hover {
            transform: scale(1.05);
            color: #61b4f8;
        }

        .bi {
            font-size: 1.9rem;
            margin-right: 8px;
        }

    }
}
