@use '../global/variables.scss' as *;
@use '../global/mixins.scss' as *;

.utility-panel{
    @include utility-panel;

    .panel-1  {
        @extend .utility-panel;
        align-content: space-between;
    }

    .panel-2 {
        @extend .utility-panel;
        align-items: flex-start;
        margin: 0 25px;
    }

    @media(max-width: $breakpoint-mobile){
        width: 90%;
        margin: 10px auto;
        flex-direction: column;
        align-items: center;

        .panel-2 {
            margin: 10px auto;
        }
    }
}

.utility-vertical-panel {
    @include utility-vertical-panel;
    
    .panel-3 {
        @extend .utility-vertical-panel;
        background-color: white;
        margin: 0 25px;
    }

    @media (max-width: $breakpoint-mobile) {
        width: 50%;
        margin: 10px auto;
        
    }
}


