@use '../global/variables.scss' as *;
@use '../global/mixins.scss' as *;

.utility-panel{
    @include utility-panel;

    .panel-1  {
        @extend .utility-panel;
        align-content: space-between;
    }

    .panel-2 {
        @extend .utility-panel;
        align-items: flex-start;
        margin: 0 25px;
    }
}

.utility-vertical-panel {
    @include utility-vertical-panel;
    
    .panel-3 {
        @extend .utility-vertical-panel;
        background-color: white;
        margin: 0 25px;
    }
}
