@use '../../global/variables.scss' as *;
@use '../../components/panel.scss' as *;

.create-task-panel {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 25px;
    @extend .dashboard-panel-2;

    & .add-task-form-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 5px;

        & .create-task-title {
            font-size: 1.2em;
            color: $primary;
            margin-bottom: 10px;
        }

        & .close-form {
            cursor: pointer;
            border: $color-borber;
            background-color: #f51414;
            color: #f8f8f8;
            padding: 5px;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
            transition: all 0.8s ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    & .task-form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        width: 100%;

        & .up-side{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            margin: 10px 0;
            width: 100%;

            & .task-input {
                border: none;
                border-radius: 5px;
                padding: 5px;
                margin: 0px 5px;
                width: 100%;
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

                &::placeholder {
                    color: #999;
                }
            }

            & .task-status {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: 20px;
        
                & p {
                    font-size: 0.8em;
                    color: #61b4f8;
                    margin: 0 5px;
                }

                & .completed{
                    font-size: 0.8em;
                    color: #87f861;
                }
            }
              
        }
        & .down-side {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            margin-top: 10px;

            & .textarea-input {
                border: 1px solid #ccc;
                border-radius: 4px;
                background-color: #f8f8f8;
                padding: 12px 20px;
                width: 100%;
                height: 60px;
                box-sizing: border-box;
                resize: none;
            }

            & .task-image {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin-top: 10px;

                .notice-form {
                    font-size: 0.7rem;
                    color: #f51414;
                }

                & .file-input {
                    border: none;
                    padding: 3px;
                    margin: 2px 0;
                    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
                }
            }
        }

        & .topic-section {
            display: flex;
            flex-direction: column;
            width: 100%;

            & .topic-description-section {
                display: flex;
                flex-direction: column;
                margin: 8px 0;

                & .topic-description {
                    margin: 5px 0;
                    width: 100%;
                    height: 60px;
                }
            }

            & .remove-topic {
                cursor: pointer;
            }

            .topic-selection-section {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                padding: 5px;

                & .topic-selection__topicTitle {
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    
                    input {
                        margin-left: 5px;
                        width: 50%;
                    }
                }
                
                & .topic-selection__topicDescription {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;

                    input {
                        padding: 10px;
                        width: 100%;
                    }
                }
            }

            & .topic-list {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                border: 1px solid var(--border-color);
                border-radius: 8px;
                padding: 5px;
                margin: 5px 0;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
                box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

                & .topic-item {
                    display: flex;
                    flex-direction: column;
                    border: 1px solid var(--border-color);
                    border-radius: 8px;
                    background-color: var(--primary);
                    color: var(--text-color-2);
                    padding: 5px;
                    margin: 5px 0;

                    & .topic-header {
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: space-between;
                        padding: 2px;
                        border-bottom: 1px solid var(--border-color);
                    }

                    & .topic-description {
                        margin: 5px 0;
                    }
                }
            }
        }

        & .task-buttons{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            color: var(--text-color-2);
            gap: 10px;
            margin-top: 10px;
        }
    }
}