@use '../../global/variables' as *;
@use './dashboard-panels.scss';


.main-title {
    font-size: 1.0em;
    text-align: start;
}

.hero {
    padding: 1%;
    margin: 0 3%;
    width: 100%;
    height: 90vh;
 }

.dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    border: 1px solid $color-borber;
    border-radius: 5px;
    padding: 2%;
    margin: 15px;
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);

    & .information-and-taskCompleted-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        padding: 5px;
    }
}