@use '../../global/variables.scss' as *;
@use '../../components/panel.scss' as *;
@use './dashboard-form';

.dashboard-task-panel {
    @extend .dashboard-panel-1;

    & .tasks-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        & .task-title {
            font-size: 1em;
            color: $primary;
        }

        & .bi-plus-circle {
            color: $primary;
            font-size: 1.1em;
        }

        & .task-button {
            cursor: pointer;
            border: none;
            border-radius: 5px;
            font-size: 0.6em;
            color: #9b9696;
            padding: 5px 10px;
            transition: all 0.3s ease;
        }
    }

    & .task-date {
        text-align: center;
        border: 1px solid #888;
        border-radius: 10px;
        font-size: 0.8em;
        color: #171717;
        margin-bottom: 10px;
        width: 15%;
    }
}

/* Formulário de criação de tarefas*/
.task-information-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    @extend .dashboard-panel-3;

    & .information-title {
        font-size: 1.2em;
        color: $primary;
        margin-bottom: 10px;
    }
    
    .information-card {
        display: flex;
        flex-direction: row;
        padding: 5px;

        & .information-card-title {
            font-size: 1em;
            color: #333;
            margin-bottom: 10px;
        }

        & .stat-item {
            display: flex;
            align-items: center;
            margin: 0 5px;
            padding: 5px;
            border-radius: 8px;
            background-color: #f8f9fa;

            & .stat-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                margin-right: 5px;
                font-weight: bold;
            }

            & .stat-label {
                flex: 1;
                font-weight: 500;
            }
        }
    }
}

.task-completed-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    @extend .dashboard-panel-4;

    .completed-title{
        font-size: 1.2em;
        color: $primary;
        margin-bottom: 10px;
    }

    .completed-card{
        display: flex;
        flex-direction: column;
        padding: 5px;
        width: 100%;

        & .completed-card-value {
            font-size: 1em;
            color: #333;
            margin-bottom: 10px;
        }

        .completed-tasks-list {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;

            & .completed-task-image-and-description-section {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;

                & .completed-task-title {
                    font-size: 1em;
                    font-weight: bold;
                    color: #333;
                }

                & .completed-task-image {
                    width: 50%;
                    max-width: 70px;
                    height: auto;
                    border-radius: 5px;
                    margin: 5px 0;
                }
            }

           & .completed-task-item {
                width: 100%;

                 & .completed-task-details {
                    display: flex;
                    flex-direction: row;
                    gap: 10px;

                     & .completed-task-date {
                        font-size: 0.8em;
                        color: #666;
                    }

                    & .completed-task-completed {
                        font-size: 0.8em;
                        color: #87f861;
                    }
                }
            }
        }
    }
}