@use '../../global/variables.scss' as *;
@use '../../components/panel.scss' as *;
@use './dashboard-form';

.dashboard-task-panel {
    @extend .dashboard-panel-1;

    & .tasks-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

        & .task-title {
            font-size: 1em;
            color: $primary;
        }

        & .bi-plus-circle {
            color: $primary;
            font-size: 1.1em;
        }

        & .task-button {
            cursor: pointer;
            border: none;
            border-radius: 5px;
            font-size: 0.6em;
            color: #9b9696;
            padding: 5px 10px;
            transition: all 0.3s ease;
        }
    }

    & .task-date {
        text-align: center;
        border: 1px solid #888;
        border-radius: 10px;
        font-size: 0.8em;
        color: #171717;
        margin-bottom: 10px;
        width: 15%;
    }
}

/* Formulário de criação de tarefas*/
.task-information-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    @extend .dashboard-panel-3;

    & .information-title {
        font-size: 1.2em;
        color: $primary;
        margin-bottom: 10px;
    }
    
    .information-card {
        display: flex;
        flex-direction: row;
        padding: 5px;

        & .information-card-title {
            font-size: 1em;
            color: #333;
            margin-bottom: 10px;
        }

        & .stat-item {
            display: flex;
            align-items: center;
            margin: 0 5px;
            padding: 5px;
            border-radius: 8px;
            background-color: #f8f9fa;

            & .stat-icon {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                margin-right: 5px;
                font-weight: bold;
            }

            & .stat-label {
                flex: 1;
                font-weight: 500;
            }
        }
    }
}

.task-completed-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    @extend .dashboard-panel-4;

    .completed-title{
        font-size: 1.2em;
        color: $primary;
        margin-bottom: 10px;
    }

    .completed-card{
        display: flex;
        flex-direction: column;
        padding: 5px;
        width: 100%;

        & .completed-card-value {
            font-size: 1em;
            color: #333;
            margin-bottom: 10px;
        }

        .completed-tasks-list {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;

            & .completed-title-section {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;

                & .completed-task-title {
                    font-size: 1.2em;
                    font-weight: bold;
                }

                & .completed-task-more-btn {
                    border: none;
                    background-color: $primary;
                    color: #f8f9fa;
                }
            }

            & .completed-task-image-and-description-section {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 10px;

                & .completed-task-image {
                    width: 195px;
                    height: 150px;
                    border-radius: 5px;
                    margin: 5px 0;
                }

                & .completed-task-description {
                    font-size: 1rem;
                }
            }

            & .completed-task-topics {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                margin: 5px 0;

                & .completed-task-title {
                    color: var(--primary);
                }

                & .topic-list {
                    display: flex;
                    flex-direction: column;
                    border: 1px solid var(--border-color);
                    border-radius: 8px;
                    padding: 6px 10px;
                    width: 100%;

                    & .topic-item {
                    margin: 5px 0;

                        & .topic-item__description-section {
                            display: flex;
                            flex-direction: row;
                            justify-content: flex-start;
                            align-items: center;

                            & .topic-description {
                                margin: 5px 10px;
                            }
                        }
                    }
                }

                & .completed-description-section__arrows {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    & .topic-item__arrow {
                        font-size: 1.5rem;
                        margin: 5px;
                        transition: all 0.5s ease;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }

            & .completed-task-details {
                display: flex;
                flex-direction: row;
                gap: 10px;

                & .completed-task-date {
                    font-size: 0.8em;
                    color: #666;
                }

                & .completed-task-completed {
                    font-size: 0.8em;
                    color: #000000;
                }
                .completed-task-completed span {
                    color: #82f473;
                }
            }
        }
    }
}