@use './variables' as *;
@use '../components/animation';

// Classe de cores
.primary-color {
    color: $primary;
}

.title-color {
    color: $title-color;
}

.text-color {
    color: $text-color;
}

// Sombra 
.square-shadow {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

// Classe para criar um linha que divide um conteúdo do outro
.divider {
    width: 100%;
    height: 1px;
    background-color: #cdc5c5;
    margin: 2px 0;
}

// Classes usadas para controlar a visibilidade de cada seção
.hidden {
    display: none !important;
}

.visible {
    display: flex !important;
}

// Messagem de erro.
.error_message {
    color: red;
}

// Classe para animações e efeitos
.slideLeft{
    animation: fadeLeft 0.5s ease-in;
}

.slideRight {
    animation: fadeRight 0.5s ease-in;
}