@use '../global/variables.scss' as *;

// Mixins para reutilização de estilos

@mixin setupSection { // Estilização base para seções
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid $color-borber;
    border-radius: 10px;
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

@mixin cardTarefa { // Estilização base para cards de tarefas
    cursor: pointer;
    border: 1px solid $color-borber;
    border-radius: 10px;
    color: var(--text-color);
    padding: 2%;
    margin: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

@mixin help-card {
    border: 1px solid $color-borber;
    border-radius: 8px;
    padding: 10px;
    width: 30%;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

@mixin utility-panel{ // Painel de utilidades (filtros, ordenação, etc.)
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #cdc5c5;
    border-radius: 10px;
    background-image: linear-gradient(
        to top,
        rgba(242, 160, 178, 0) 0%,
        rgba(245, 201, 201, 0.8) 50%,
        rgba(250, 208, 196, 0) 100%
    ),
    linear-gradient(
        to bottom,
        rgba(250, 196, 219, 0) 0%,
        rgba(245, 245, 245, 0.4) 25%,
        rgba(250, 196, 219, 0) 100%
    );
    padding: 15px;
    margin: 10px 10px;
    width: 35%;
    min-height: 165px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

@mixin utility-vertical-panel{ // Painel de utilidades vertical (filtros, ordenação, etc.)
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #cdc5c5;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 10px;
    width: 35%;
    min-height: 165px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

@mixin dashboard-panel-1 { // Painel de tarefas no dashboard]
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    width: 50%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

@mixin dashboard-panel-2 { // Painel de tarefas no dashboard (variante)
    border:  1px solid $color-borber;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    width: 50%;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

@mixin dashboard-panel-3 { // Painel de tarefas no dashboard (variante)
    border: 1px solid $color-borber;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

@mixin dashboard-panel-4 { // Painel de tarefas no dashboard (variante)
    border: 1px solid $color-borber;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}