// Variaveis de cores globais
$primary: #e91e63;    /* Rosa principal */
$primary-light: #f8bbd0; 
$secundary-color: #2196f3;
$success: #4caf50;
$background-color: #f5f5f5;
$text-color: #333333;
$color-borber: #dddddd;
$background-achievement: #898485;

// Variaveis media queries
$breakpoint-mobile: 600px;
$breakpoint-tablet: 900px;
$breakpoint-desktop: 1200px;
$breakpoint-large-desktop: 1800px;