@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 100%/1.5 'Roboto Condensed', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contents-body {
    display: flex;
    background-color: #f0f0f0;
    color: #333;
    padding: 1%;
    height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}