@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Rosa principal */
:root {
  --primary: #e91e63;
  --primary-light: #f8bbd0;
  --color-icones-menu: #000;
  --secondary-color: #2196f3;
  --title-color: #9f9797;
  --bg-color: #f5f5f5;
  --text-color: #333333;
  --text-color-2: #fff;
  --border-color: #dddddd;
  --bg-achievement: #898485;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

:root[data-theme=ligth] {
  --primary: #e91e63;
  --color-icones-menu: #000;
  --primary-light: #f8bbd0;
  --secondary-color: #2196f3;
  --title-color: #9f9797;
  --bg-color: #f5f5f5;
  --text-color: #333333;
  --text-color-2: #fff;
  --border-color: #dddddd;
  --bg-achievement: #898485;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

:root[data-theme=dark] {
  --bg-color: #121212;
  --color-icones-menu: #fff;
  --primary: #f7f6f6;
  --primary-light: #fffeff;
  --secondary-color: #2196f3;
  --title-color: #ffffff;
  --text-color: #ffffff;
  --text-color-2: #030303;
  --border-color: #495057;
  --bg-achievement: #898485;
  --shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

:root[data-theme=colorful] {
  --bg-color: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  --primary: #ff6b6b;
  --primary-light: #ffd93d;
  --secondary-color: #4ecdc4;
  --title-color: #ffffff;
  --text-color: #ffffff;
  --border-color: #ffd93d;
  --bg-achievement: #ff9ff3;
  --shadow: 0 4px 8px rgba(255, 107, 107, 0.2);
}

:root {
  --menu-bg-color: #f8bbd0;
}

:root[data-square-color=pink] {
  --menu-bg-color: #f8bbd0;
}

:root[data-square-color=purple] {
  --menu-bg-color: #9222e8;
}

:root[data-square-color=red] {
  --menu-bg-color: #f12626;
}

:root[data-square-color=gray] {
  --menu-bg-color: #a7a1a1;
}

:root {
  --font-family-base: "Roboto Condensed", sans-serif;
}

:root[data-font=roboto] {
  --font-family-base: "Roboto", sans-serif;
  --font-family-title: "Roboto", sans-serif;
}

:root[data-font=funnel] {
  --font-family-base: "Funnel", sans-serif;
  --font-family-title: "Funnel", sans-serif;
}

:root[data-font=BBH] {
  --font-family-base: "BBH Sans Bogle", sans-serif;
  --font-family-title: "BBH Sans Bogle", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  padding: 10px;
  width: 15%;
  height: 95vh;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.header .navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: var(--border-color);
  border-radius: 8px;
  background-color: var(--menu-bg-color);
  padding: 10px;
  margin: 10px 0;
  width: 50%;
  height: 60vh;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
}
.header .navbar .profile-img {
  cursor: pointer;
  border: var(--border-color);
  border-radius: 15px;
  margin-bottom: 5px;
  width: 50px;
  height: 50px;
  transition: all 0.5s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.header .navbar .menu-items {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-icones-menu);
  font-size: 1.8rem;
  border: var(--border-color);
  border-radius: 50%;
  background: var(--bg-color);
  margin: 5px 0;
  width: 45px;
  height: 45px;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.header .navbar .menu-items:hover {
  background: #6a11cb;
  color: white;
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(106, 17, 203, 0.4);
}
.header .navbar .bi {
  font-size: 1.9rem;
}
.header .navbar .tooltip {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  color: white;
  font-size: 0.9rem;
  border-radius: 6px;
  background-color: #333;
  padding: 5px 12px;
  top: -40px;
  transition: all 0.3s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.header .navbar .tooltip::after {
  content: "";
  position: absolute;
  border-width: 5px 5px 0 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.header .navbar .menu-items:hover .tooltip {
  visibility: visible;
  opacity: 1;
  top: -50px;
}

@media (max-width: 600px) {
  .header {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 5px 0;
  }
  .header .navbar {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 93%;
    height: auto;
    padding: 10px 0;
  }
}
.card, .list-box .task-list-item, .favorite-task-card {
  cursor: pointer;
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 2%;
  margin: 5px;
  transition: all 0.3s ease;
}
.card .card-header, .list-box .task-list-item .card-header, .favorite-task-card .card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #dddddd;
}
.card .card-header .card-title, .list-box .task-list-item .card-header .card-title, .favorite-task-card .card-header .card-title {
  font-size: 1.2em;
  margin-bottom: 5px;
}
.card .card-header .more-btn, .list-box .task-list-item .card-header .more-btn, .favorite-task-card .card-header .more-btn {
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--primary);
  color: var(--text-color-2);
  font-size: 0.8rem;
  padding: 3px;
  margin: 0px 5px;
  transition: all 0.3s ease;
  box-shadow: 1px 1px 3px rgba(1, 1, 1, 0.3);
}
.card .card-header .more-btn:hover, .list-box .task-list-item .card-header .more-btn:hover, .favorite-task-card .card-header .more-btn:hover {
  transform: scale(1.1);
}
.card .card-image, .list-box .task-list-item .card-image, .favorite-task-card .card-image {
  width: 100%;
  max-width: 70px;
  height: auto;
  border-radius: 5px;
  margin: 5px 0;
}
.card .card-description, .list-box .task-list-item .card-description, .favorite-task-card .card-description {
  font-size: 0.9em;
  color: #555;
}
.card .card-footer, .list-box .task-list-item .card-footer, .favorite-task-card .card-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
}
.card .card-footer .status-date-section, .list-box .task-list-item .card-footer .status-date-section, .favorite-task-card .card-footer .status-date-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.card .card-footer .status-date-section .card-date, .list-box .task-list-item .card-footer .status-date-section .card-date, .favorite-task-card .card-footer .status-date-section .card-date {
  font-size: 0.8em;
  color: #888;
}
.card .card-footer .status-date-section .status-container, .list-box .task-list-item .card-footer .status-date-section .status-container, .favorite-task-card .card-footer .status-date-section .status-container {
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.card .card-footer .status-date-section .status-container .status-card-title, .list-box .task-list-item .card-footer .status-date-section .status-container .status-card-title, .favorite-task-card .card-footer .status-date-section .status-container .status-card-title {
  font-size: 0.9rem;
  margin-right: 2px;
}
.card .card-footer .status-date-section .status-container .card-status, .list-box .task-list-item .card-footer .status-date-section .status-container .card-status, .favorite-task-card .card-footer .status-date-section .status-container .card-status {
  font-size: 0.8em;
  color: #58c8e4;
  margin: 2px 0;
}
.card .card-footer .button-section, .list-box .task-list-item .card-footer .button-section, .favorite-task-card .card-footer .button-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
  margin-top: 10px;
}
.card .card-footer .button-section .card-button, .list-box .task-list-item .card-footer .button-section .card-button, .favorite-task-card .card-footer .button-section .card-button {
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  transition: all 0.3s ease;
}
.card .card-footer .button-section .card-button:hover, .list-box .task-list-item .card-footer .button-section .card-button:hover, .favorite-task-card .card-footer .button-section .card-button:hover {
  transform: translateY(-5px);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.card .card-footer .button-section .completed-button, .list-box .task-list-item .card-footer .button-section .completed-button, .favorite-task-card .card-footer .button-section .completed-button {
  background-color: var(--secondary-color);
}
.card .card-footer .button-section .edit-button, .list-box .task-list-item .card-footer .button-section .edit-button, .favorite-task-card .card-footer .button-section .edit-button {
  background-color: var(--primary);
}
.card .card-footer .button-section .cancel-button, .list-box .task-list-item .card-footer .button-section .cancel-button, .favorite-task-card .card-footer .button-section .cancel-button {
  background-color: #de1c1c;
}

.card:hover, .list-box .task-list-item:hover, .favorite-task-card:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
}

.favorite-task-card {
  background-color: #f8bbd0;
}

.help-card {
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 10px;
  width: 30%;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.utility-panel, .utility-panel .panel-2, .utility-panel .panel-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #cdc5c5;
  border-radius: 10px;
  background-image: linear-gradient(to top, rgba(242, 160, 178, 0) 0%, rgba(245, 201, 201, 0.8) 50%, rgba(250, 208, 196, 0) 100%), linear-gradient(to bottom, rgba(250, 196, 219, 0) 0%, rgba(245, 245, 245, 0.4) 25%, rgba(250, 196, 219, 0) 100%);
  padding: 15px;
  margin: 10px 10px;
  width: 35%;
  min-height: 165px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.utility-panel .panel-1 {
  align-content: space-between;
}
@media (max-width: 600px) {
  .utility-panel, .utility-panel .panel-2, .utility-panel .panel-1 {
    width: 90%;
    margin: 10px auto;
    flex-direction: column;
    align-items: center;
  }
  .utility-panel .panel-2 {
    margin: 10px auto;
  }
}

.utility-vertical-panel, .utility-vertical-panel .panel-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #cdc5c5;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 10px;
  width: 35%;
  min-height: 165px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.utility-vertical-panel .panel-3 {
  background-color: white;
  margin: 0 25px;
}
@media (max-width: 600px) {
  .utility-vertical-panel, .utility-vertical-panel .panel-3 {
    width: 50%;
    margin: 10px auto;
  }
}

.dashboard-panel-1, .dashboard-task-panel {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
  width: 50%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.dashboard-panel-2, .create-task-panel {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
  width: 50%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.dashboard-panel-3, .task-information-panel {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.dashboard-panel-4, .task-completed-panel {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 5px;
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.btn, .btn-save-actions {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 2px 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.btn:hover, .btn-save-actions:hover {
  transform: scale(1.05);
}

.task-submit-button {
  background-color: var(--primary);
  color: white;
  font-size: 0.8em;
}

.go-topic-button {
  background-color: var(--primary);
  color: #fff;
}

.btn-save-actions {
  color: #fff;
  background-color: #007bff;
}
.btn-save-actions.active {
  border: 2px solid #007bff;
}

.input {
  border: none;
  border-radius: 5px;
  padding: 4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

@keyframes merge {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.primary-color {
  color: #e91e63;
}

.title-color {
  color: #9f9797;
}

.text-color {
  color: #333333;
}

.square-shadow {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #cdc5c5;
  margin: 2px 0;
}

.hidden {
  display: none !important;
}

.visible {
  display: flex !important;
}

* {
  font-family: var(--font-family-base);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  color: var(--text-color);
  background: var(--bg-color);
  transition: all 0.3s ease;
}

.contents-body {
  display: flex;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 1%;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

@media (max-width: 600px) {
  .contents-body {
    flex-direction: column;
    height: auto;
  }
}
.home-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #dddddd;
  border-radius: 10px;
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.home-section .top-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.home-section .top-line .climat-calendar-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-section .top-line .climat-calendar-info .panel-climat {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  color: #ed7c87;
}
.home-section .top-line .climat-calendar-info .panel-climat .image {
  background-color: transparent;
  max-width: 45%;
  height: auto;
}
.home-section .top-line .climat-calendar-info .panel-climat .temperature-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}
.home-section .top-line .climat-calendar-info .panel-climat .temperature-location .temperature {
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.home-section .top-line .climat-calendar-info .panel-climat .temperature-location .location {
  font-size: 0.8em;
  color: #464545;
}
.home-section .top-line .calendar-hour {
  display: flex;
  flex-direction: column;
}
.home-section .top-line .calendar-hour .hour-calendar {
  color: #ed7c87;
  font-size: 2.3em;
  font-weight: bold;
}
.home-section .top-line .calendar-hour .calendar-date-year {
  display: flex;
  flex-direction: row;
}
.home-section .top-line .calendar-hour .calendar-date-year .day-calendar {
  color: #464545;
  font-size: 0.8em;
  font-weight: bold;
  margin: 0 5px;
}
.home-section .top-line .calendar-hour .calendar-date-year .month-year-calendar {
  font-size: 0.8em;
  color: #464545;
}
.home-section .top-line .weather-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: #464545;
  margin-top: 10px;
}
.home-section .top-line .weather-info .weather-item {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.home-section .top-line .weather-info .weather-item .weather-item-img {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
  margin-right: 5px;
  max-width: 35px;
  height: auto;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.home-section .top-line .weather-info .weather-item .weather-item-info {
  display: flex;
  flex-direction: column;
}
.home-section .top-line .weather-info .weather-item .weather-item-info .item-name {
  font-weight: bold;
  color: #ed7c87;
}
.home-section .top-line .weather-info .weather-item .weather-item-info .item-value {
  color: #464545;
}
.home-section .top-line .tasks-created-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #e91e63;
  margin: 0 15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.home-section .top-line .tasks-created-info .tasks-created-count {
  font-size: 2em;
  font-weight: bold;
  color: #f8bbd0;
  margin-left: 10px;
}
.home-section .top-line .task-calendar {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.home-section .top-line .task-calendar .months-with-most-tasks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ed7c87;
  margin: 10px 0;
}
.home-section .top-line .task-calendar .months-with-most-tasks .custom-progress-bar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  margin: 5px 0;
  height: 23px;
}
.home-section .top-line .task-calendar .months-with-most-tasks .custom-progress-bar-container .custom-progress-bar-fill {
  height: 100%;
  background-color: #ed7c87;
}
.home-section .down-line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.home-section .down-line .panel-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 10px;
  width: 50%;
}
.home-section .down-line .panel-3 h2 {
  color: #e91e63;
}
.home-section .down-line .panel-3 .favorite-tasks {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.home-section .down-line .panel-3 .favorite-tasks .favorite-tasks-list {
  width: 90%;
}
.home-section .down-line .panel-3 .favorite-tasks .favorite-tasks-list .favorite-task-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  border-left: 4px solid #e91e63;
  margin: 5px 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease;
}
.home-section .down-line .panel-3 .favorite-tasks .favorite-tasks-list .favorite-task-item:hover {
  transform: scale(1.02);
}
.home-section .down-line .panel-3 .favorite-tasks .favorite-tasks-list .favorite-task-item::before {
  content: "★";
  color: #f8df25;
  margin-right: 8px;
}
.home-section .down-line .panel-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-image: none;
  gap: 10px;
  padding: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.home-section .down-line .panel-4 h2 {
  color: #e91e63;
}
.home-section .down-line .panel-4 .archievements {
  margin: 10px 0;
}
.home-section .down-line .panel-4 .achievements-list {
  padding: 0;
  list-style: none;
}
.home-section .down-line .panel-4 .achievements-list .achievement-item {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border-left: 4px solid #e91e63;
  background-color: #898485;
  margin: 5px 10px;
}
.home-section .down-line .panel-4 .achievements-list .achievement-item img {
  margin-left: 5px;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}
.home-section .down-line .panel-4 .achievements-list .achievement-item .achievement-info {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 3px;
}
.home-section .down-line .panel-4 .achievements-list .achievement-item .achievement-info h3 {
  color: #333333;
  margin: 0;
}
.home-section .down-line .panel-4 .achievements-list .achievement-item .achievement-info p {
  color: #666;
  font-size: 0.9em;
}

@media (max-width: 600px) {
  .home-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid #e91e63;
    width: 95%;
  }
  .home-section .top-line, .home-section .down-line {
    flex-direction: column;
    align-items: center;
  }
  .home-section .top-line .climat-calendar-info, .home-section .top-line .calendar-hour {
    margin-bottom: 15px;
  }
  .home-section .down-line .panel-3, .home-section .down-line .panel-4 {
    width: 90%;
    margin-bottom: 15px;
  }
}
.create-task-panel {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 25px;
}
.create-task-panel .add-task-form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px;
}
.create-task-panel .add-task-form-header .create-task-title {
  font-size: 1.2em;
  color: #e91e63;
  margin-bottom: 10px;
}
.create-task-panel .add-task-form-header .close-form {
  cursor: pointer;
  border: #dddddd;
  background-color: #f51414;
  color: #f8f8f8;
  padding: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.8s ease;
}
.create-task-panel .add-task-form-header .close-form:hover {
  transform: scale(1.1);
}
.create-task-panel .task-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
}
.create-task-panel .task-form .up-side {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10px 0;
  width: 100%;
}
.create-task-panel .task-form .up-side .task-input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 0px 5px;
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.create-task-panel .task-form .up-side .task-input::placeholder {
  color: #999;
}
.create-task-panel .task-form .up-side .task-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
}
.create-task-panel .task-form .up-side .task-status p {
  font-size: 0.8em;
  color: #61b4f8;
  margin: 0 5px;
}
.create-task-panel .task-form .up-side .task-status .completed {
  font-size: 0.8em;
  color: #87f861;
}
.create-task-panel .task-form .down-side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 10px;
}
.create-task-panel .task-form .down-side .textarea-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  padding: 12px 20px;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  resize: none;
}
.create-task-panel .task-form .down-side .task-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 10px;
}
.create-task-panel .task-form .down-side .task-image .file-input {
  border: none;
  padding: 3px;
  margin: 2px 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.create-task-panel .task-form .topic-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.create-task-panel .task-form .topic-section .topic-description-section {
  display: flex;
  flex-direction: column;
  margin: 8px 0;
}
.create-task-panel .task-form .topic-section .topic-description-section .topic-description {
  margin: 5px 0;
  width: 100%;
  height: 60px;
}
.create-task-panel .task-form .topic-section .btn-topic-confirm {
  background-color: var(--secondary-color);
  color: var(--text-color-2);
}
.create-task-panel .task-form .topic-section .remove-topic {
  cursor: pointer;
}
.create-task-panel .task-form .topic-section .topic-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 5px;
  margin: 5px 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.create-task-panel .task-form .topic-section .topic-list .topic-item {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--primary);
  color: var(--text-color-2);
  padding: 5px;
  margin: 5px 0;
}
.create-task-panel .task-form .topic-section .topic-list .topic-item .topic-header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 2px;
  border-bottom: 1px solid var(--border-color);
}
.create-task-panel .task-form .topic-section .topic-list .topic-item .topic-description {
  margin: 5px 0;
}
.create-task-panel .task-form .task-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.dashboard-task-panel .tasks-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.dashboard-task-panel .tasks-header .task-title {
  font-size: 1em;
  color: #e91e63;
}
.dashboard-task-panel .tasks-header .bi-plus-circle {
  color: #e91e63;
  font-size: 1.1em;
}
.dashboard-task-panel .tasks-header .task-button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 0.6em;
  color: #9b9696;
  padding: 5px 10px;
  transition: all 0.3s ease;
}
.dashboard-task-panel .task-date {
  text-align: center;
  border: 1px solid #888;
  border-radius: 10px;
  font-size: 0.8em;
  color: #171717;
  margin-bottom: 10px;
  width: 15%;
}

/* Formulário de criação de tarefas*/
.task-information-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.task-information-panel .information-title {
  font-size: 1.2em;
  color: #e91e63;
  margin-bottom: 10px;
}
.task-information-panel .information-card {
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.task-information-panel .information-card .information-card-title {
  font-size: 1em;
  color: #333;
  margin-bottom: 10px;
}
.task-information-panel .information-card .stat-item {
  display: flex;
  align-items: center;
  margin: 0 5px;
  padding: 5px;
  border-radius: 8px;
  background-color: #f8f9fa;
}
.task-information-panel .information-card .stat-item .stat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 5px;
  font-weight: bold;
}
.task-information-panel .information-card .stat-item .stat-label {
  flex: 1;
  font-weight: 500;
}

.task-completed-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.task-completed-panel .completed-title {
  font-size: 1.2em;
  color: #e91e63;
  margin-bottom: 10px;
}
.task-completed-panel .completed-card {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 100%;
}
.task-completed-panel .completed-card .completed-card-value {
  font-size: 1em;
  color: #333;
  margin-bottom: 10px;
}
.task-completed-panel .completed-card .completed-tasks-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.task-completed-panel .completed-card .completed-tasks-list .completed-task-image-and-description-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.task-completed-panel .completed-card .completed-tasks-list .completed-task-image-and-description-section .completed-task-title {
  font-size: 1em;
  font-weight: bold;
  color: #333;
}
.task-completed-panel .completed-card .completed-tasks-list .completed-task-image-and-description-section .completed-task-image {
  width: 100%;
  max-width: 70px;
  height: auto;
  border-radius: 5px;
  margin: 5px 0;
}
.task-completed-panel .completed-card .completed-tasks-list .completed-task-item {
  width: 100%;
}
.task-completed-panel .completed-card .completed-tasks-list .completed-task-item .completed-task-details {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.task-completed-panel .completed-card .completed-tasks-list .completed-task-item .completed-task-details .completed-task-date {
  font-size: 0.8em;
  color: #666;
}
.task-completed-panel .completed-card .completed-tasks-list .completed-task-item .completed-task-details .completed-task-completed {
  font-size: 0.8em;
  color: #87f861;
}

.main-title {
  font-size: 1em;
  text-align: start;
}

.hero {
  padding: 1%;
  margin: 0 3%;
  width: 100%;
  height: 90vh;
}

.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 2%;
  margin: 10px 0;
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.dashboard .information-and-taskCompleted-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding: 5px;
}

.task-list-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.task-list-section .bi-card-list, .task-list-section .bi-search, .task-list-section .bi-card-checklist {
  color: #e91e63;
}
.task-list-section .task-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 5px;
  width: 100%;
}
.task-list-section .task-list-header .search-box {
  border: #dddddd;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.task-list-section .task-list-header .filter-box {
  border: #dddddd;
  border-radius: 8px;
  padding: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.task-list-section .task-list-header .filter-box select {
  border-radius: 8px;
  padding: 5px;
}
.task-list-section .task-list-header .filter-clear-buttons-section {
  display: flex;
  flex-direction: row;
  border: #dddddd;
  border-radius: 8px;
  padding: 5px;
}
.task-list-section .task-list-header .filter-clear-buttons-section .bi-stars, .task-list-section .task-list-header .filter-clear-buttons-section .bi-filter {
  color: #e91e63;
}
.task-list-section .task-list-header .filter-clear-buttons-section button {
  margin: 5px;
}

.list-box {
  display: flex;
  flex-direction: row;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 5px;
  width: 100%;
  margin: 10px 0;
}
.list-box .task-list-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 50%;
}
.list-box .task-list-item .task-list-image-and-description-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.list-box .task-list-item .task-list-image-and-description-section img {
  max-width: 150px;
}

.setting-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.setting-nav .setting-navbar-item {
  border-right: 1px solid #000;
  padding: 5px;
  margin: 5px;
  transition: all 0.3s ease;
}
.setting-nav .setting-navbar-item:hover {
  border: 2px solid #f8bbd0;
  border-radius: 8px;
}

.setting-profile-label {
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.setting-profile-label .profile__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
  transition: 0.3s;
}

.setting-profile-label:hover .profile__img {
  opacity: 0.7;
}

.setting-profile-label .overlay {
  position: absolute;
  opacity: 0;
  border-radius: 5px;
  font-size: 12px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  padding: 3px 8px;
  width: 80%;
  left: 50%;
  bottom: 10px;
  transition: 0.3s;
  transform: translateX(-50%);
}

.setting-profile-label:hover .overlay {
  opacity: 1;
}

.profile__input {
  display: none;
}

.file__input {
  display: none;
}

.profile__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 100px;
  padding: 10px;
}
.profile__btn .choose-btn {
  cursor: pointer;
  color: #fff;
  background-color: #e91e63;
  padding: 5px 12px;
  transition: all 0.3s ease;
  margin-right: 8px;
}
.profile__btn .remove-btn {
  cursor: pointer;
  color: #fff;
  background: #e74c3c;
  padding: 6px 12px;
  transition: all 0.3s ease;
}

/* Formulário */
.profile-page__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #9f9797;
  width: 100%;
}
.profile-page__form .name-lastname-section {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.profile-page__form .name-lastname-section .name-section {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.profile-page__form .name-lastname-section .name-section .name-input {
  margin: 5px 10px;
}
.profile-page__form .name-lastname-section .lastname-section {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.profile-page__form .name-lastname-section .lastname-section .last-name-input {
  margin: 5px 10px;
}
.profile-page__form .username-email-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 5px 0;
}
.profile-page__form .username-email-section .username-section {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.profile-page__form .username-email-section .username-section .username-input {
  margin: 5px 10px;
}
.profile-page__form .username-email-section .email-section {
  display: flex;
  flex-direction: column;
  width: 40%;
}
.profile-page__form .username-email-section .email-section .email-input {
  margin: 5px 10px;
}
.profile-page__form .phonenumber-section {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  width: 40%;
}
.profile-page__form .phonenumber-section .phone-number-input {
  margin: 5px 10px;
}
.profile-page__form .bio-section {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  width: 40%;
}
.profile-page__form .bio-section .bio-textarea {
  padding: 10px;
  margin: 5px 10px;
}
.profile-page__form .form-button-section {
  margin: 5px 0;
}
.profile-page__form .form-button-section .btn-update-profile {
  color: #fff;
  background-color: #e91e63;
  padding: 6px 12px;
}

.settings-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
  width: 100%;
}
.settings-page .profile-page__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
  width: 100%;
}
.settings-page .profile-page__section .profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 10px 0;
  /* Configurações da label, imagem, input e botão */
}
.settings-page .profile-page__section .profile-page__information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 5px;
  width: 100%;
}

.security-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
  width: 100%;
}
.security-section input {
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 5px;
  margin: 5px 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.security-section label {
  margin: 5px 0;
}
.security-section .btn-change-password {
  color: #ffffff;
  background-color: #2196f3;
  margin-top: 5px;
}
.security-section .security-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 5px 0;
  width: 100%;
}
.security-section .btn-security {
  background-color: #e91e63;
  color: #ffffff;
}
.security-section .security-form-update-password {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  animation: merge 0.8s ease;
}
.security-section .sessions-list {
  border-left: 1px solid #dddddd;
  margin: 5px 0;
  padding: 2px;
}
.security-section .sessions-list li {
  margin: 5px 0;
}

.interface-page__img {
  cursor: pointer;
  border: 1px solid #dddddd;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
}
.interface-page__img:hover {
  box-shadow: 1px 1px 5px rgba(243, 14, 14, 0.3);
}
.interface-page__img.active {
  outline: 3px solid var(--primary-color);
  transform: scale(1.05);
}

.demonstration-img-1 {
  transition: all 0.5s ease;
}
.demonstration-img-1:hover {
  transform: scale(1.1);
}

.demonstration-img-2 {
  transition: all 0.5s ease;
}
.demonstration-img-2:hover {
  transform: translateY(-5px);
}

.demonstration-img-3 {
  transition: all 0.5s ease;
  transform-style: preserve-3d;
}
.demonstration-img-3:hover {
  transform: rotateY(180deg);
}

.demonstration-img-3::before {
  content: "";
  position: absolute;
  background-color: #ffcc00;
  width: 100%;
  height: auto;
  backface-visibility: hidden;
}

.action-save-button {
  display: none;
}

.interface-theme__img {
  cursor: pointer;
  border: 1px solid #dddddd;
  border-radius: 12px;
  width: 120px;
  height: 80px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.interface-theme__img:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 3px rgba(243, 14, 14, 0.3);
}
.interface-theme__img.active {
  outline: 3px solid var(--primary-color);
  transform: scale(1.05);
}

.themes-save-button {
  display: none;
}

.interface-color__square {
  cursor: pointer;
  border: 1px solid #dddddd;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  transition: all 0.5s ease;
}
.interface-color__square:hover {
  transform: scale(1.1);
}
.interface-color__square:active {
  outline: 3px solid #e91e63;
  transform: scale(1.1);
}

.color-save-button {
  display: none;
}

.pink-color-square {
  background-color: #f8bbd0;
}

.purple-color-square {
  background-color: #9222e8;
}

.red-color-square {
  background-color: #f12626;
}

.gray-color-square {
  background-color: #a7a1a1;
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

.font-funnel {
  font-family: "Funnel Sans", sans-serif;
}

.font-BBH {
  font-family: "BBH Sans Bogle", sans-serif;
}

.font-save-button {
  display: none;
}

.interface-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  width: 80%;
}
.interface-section .interface-page_texts p {
  font-size: 13px;
}
.interface-section .interface-page_texts .alert-message {
  display: none;
  color: #f32a2a;
}
.interface-section .actions-demonstration {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  width: 30%;
}
.interface-section .interface-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 10px;
  width: 50%;
}
.interface-section .navbar-color-change {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  width: 30%;
}
.interface-section .interface-font__change {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 10px;
  width: 25%;
}
.interface-section .interface-font__change .font-square {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  border: 1px solid #dddddd;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.interface-section .interface-font__change .font-square:hover {
  transform: scale(1.1);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.interface-section .interface-font__change .font-square.active {
  outline: 3px solid var(--primary-color);
  transform: scale(1.1);
}

.checkboxInput {
  display: none;
}

.toggleSwitch {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: rgb(82, 82, 82);
  width: 50px;
  height: 30px;
  transition-duration: 2s;
}

.toggleSwitch::after {
  content: "";
  position: relative;
  border: 5px solid white;
  border-radius: 50%;
  background-color: transparent;
  right: 10px;
  height: 10px;
  width: 10px;
  transition-duration: 0.2s;
  box-shadow: 5px 2px 7px rgba(8, 8, 8, 0.26);
}

.checkboxInput:checked + .toggleSwitch::after {
  transform: translateX(100%);
  transition-duration: 0.2s;
  background-color: white;
}

.checkboxInput:checked + .toggleSwitch {
  background-color: rgb(148, 118, 255);
  transition-duration: 0.2s;
}

.setting-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
  width: auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.additional-setup-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  width: 100%;
}
.additional-setup-section .additional-setup-texts p {
  font-size: 13px;
}
.additional-setup-section .additional-setup-texts .alert-message {
  display: none;
  color: #f32a2a;
}
.additional-setup-section .additional-setup-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  width: 40%;
}
.additional-setup-section .additional-setup-options .additional-setup-item {
  margin: 10px 5px;
}
.additional-setup-section .additional-setup-options .additional-setup-item span {
  cursor: pointer;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--primary);
  color: var(--text-color-2);
  padding: 5px;
  box-shadow: 1px 1px 3px rgba(15, 15, 15, 0.3);
  transition: all 0.5s ease;
}
.additional-setup-section .additional-setup-options .additional-setup-item span:hover {
  box-shadow: 1px 1px 3px #f32a2a;
}
.additional-setup-section .additional-setup-options .additional-setup-item span.active {
  outline: 3px solid var(--primary-color);
  transform: scale(1.1);
}
.additional-setup-section .additional-setup-options .additional-setup-item input {
  display: none;
}
.additional-setup-section .additional-setup-button {
  margin: 10px 5px;
}
.additional-setup-section .additional-setup-button .info-btn {
  background-color: var(--secondary-color);
  color: var(--text-color-2);
}
.additional-setup-section .additional-setup-button .danger-btn {
  background-color: var(--primary);
  color: var(--text-color-2);
}

.help-page__question-form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 5px;
  width: 50%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.help-page__question-form-section .question-form-page__description {
  margin-top: 5px;
  font-size: 0.9rem;
  color: var(--text-color);
}
.help-page__question-form-section .question-form-page__contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}
.help-page__question-form-section .question-form-page__contact-form .form-label {
  color: var(--text-color);
}
.help-page__question-form-section .question-form-page__contact-form .form-input {
  padding: 3px;
}

.help-page__security-protection-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
.help-page__security-protection-section .security-page__title-and-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}
.help-page__security-protection-section .security-page__title-and-paragraph .security-page__paragraph {
  font-size: 0.9rem;
}
.help-page__security-protection-section .security-page__tips-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
}
.help-page__security-protection-section .security-page__tips-section .security-page__tip-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
  margin: 5px 0;
  transition: all 0.3s ease;
}
.help-page__security-protection-section .security-page__tips-section .security-page__tip-item:hover {
  transform: translateX(5px);
  color: var(--secondary-color);
}
.help-page__security-protection-section .security-page__tips-section .security-page__tip-item .tip-icon {
  font-size: 1.5rem;
  color: var(--primary-color);
}
.help-page__security-protection-section .security-page__tips-section .security-page__tip-item .tip-text {
  font-size: 0.9rem;
}
.help-page__security-protection-section .security-page__howWork-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  margin-top: 10px;
  width: 100%;
}
.help-page__security-protection-section .security-page__howWork-section .howWork-page__list-item {
  font-size: 0.9rem;
  margin: 5px 0;
}

.help-page__task-tutorial-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #dddddd;
  border-radius: 8px;
  padding: 10px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.help-page__task-tutorial-section .taskTutorial-page__title-section {
  margin-bottom: 15px;
}
.help-page__task-tutorial-section .taskTutorial-page__title-section .taskTutorial-page__title {
  font-size: 1.8rem;
  font-weight: 600;
}
.help-page__task-tutorial-section .task-tutorial__steps {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  padding: 5px;
}
.help-page__task-tutorial-section .task-tutorial__steps .step {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.help-page__task-tutorial-section .task-tutorial__steps .step .step-description {
  font-size: 1rem;
  line-height: 1.4;
}
.help-page__task-tutorial-section .task-tutorial__steps .step .step-image:not(.hidden) {
  width: 100%;
  max-width: 150px;
  height: 300px;
  border-radius: 4px;
}
.help-page__task-tutorial-section .task-tutorial__steps .step .step-image-add-task {
  width: 100%;
  height: 150px;
  border-radius: 4px;
}
.help-page__task-tutorial-section .task-tutorial__steps .step .step-image-save-task {
  width: 100%;
  height: 250px;
  border-radius: 4px;
}
.help-page__task-tutorial-section .task-tutorial__steps .step .btn-details {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: var(--primary);
  color: var(--text-color-2);
  font-size: 0.9rem;
  padding: 6px 12px;
  width: fit-content;
  transition: background-color 0.3s ease;
}

.help-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 2%;
  margin: 10px 0;
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.help-section .help-title-and-suppport-callout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 5px;
  width: 100%;
}
.help-section .help-page__question-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 100%;
}
.help-section .help-page__question-section .help-page__question-input {
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
  width: 30%;
  padding: 5px;
}
.help-section .help-page__question-section .btn-question {
  background-color: var(--secondary-color);
  color: #fff;
  margin: 0px 5px;
}
.help-section .help-page__cards-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 10px;
  margin: 10px 0;
}
.help-section .help-page__cards-section .cards-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}
.help-section .help-page__cards-section .cards-section i {
  font-size: 2.5rem;
  color: var(--primary);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.help-section .help-page__cards-section .cards-section .btn-send-question {
  background-color: var(--primary);
  color: #fff;
}
.help-section .help-page__cards-section .cards-section .help-page__card-button-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.help-section .help-page__cards-section .cards-section .help-page__card-button-section .btn-more {
  background-color: var(--primary);
  color: var(--text-color-2);
}
.help-section .help-page__cards-section .cards-section .help-page__card-button-section .btn-more-information {
  background-color: var(--secondary-color);
  color: #fff;
  margin: 0 3px;
}

/*# sourceMappingURL=style.css.map */
