@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
/* Rosa principal */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 10px;
  width: 15%;
  height: 95vh;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.header .navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f8bbd0;
  padding: 10px;
  margin: 10px 0;
  width: 50%;
  height: 50vh;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
}
.header .navbar .menu-items {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #495057;
  font-size: 1.8rem;
  border-radius: 50%;
  background: #f8f9fa;
  margin: 5px 0;
  width: 45px;
  height: 45px;
  text-decoration: none;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.header .navbar .menu-items:hover {
  background: #6a11cb;
  color: white;
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(106, 17, 203, 0.4);
}
.header .navbar .bi {
  font-size: 1.9rem;
}
.header .navbar .tooltip {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  color: white;
  font-size: 0.9rem;
  border-radius: 6px;
  background-color: #333;
  padding: 5px 12px;
  top: -40px;
  transition: all 0.3s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
.header .navbar .tooltip::after {
  content: "";
  position: absolute;
  border-width: 5px 5px 0 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.header .navbar .menu-items:hover .tooltip {
  visibility: visible;
  opacity: 1;
  top: -50px;
}

@media (max-width: 600px) {
  .header {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 5px 0;
  }
  .header .navbar {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: auto;
    padding: 10px 0;
  }
}
* {
  font-family: 100%/1.5 "Roboto Condensed", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, var(--primary-light) 0%, #ffffff 100%);
  background-color: #f0f0f0;
  color: #333;
  overflow-x: hidden;
}

.contents-body {
  display: flex;
  background-color: #f0f0f0;
  color: #333;
  padding: 1%;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #cdc5c5;
  margin: 2px 0;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}

.home-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #dddddd;
  border-radius: 10px;
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.home-section .top-line {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.home-section .top-line .climat-calendar-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-section .top-line .climat-calendar-info .panel-climat {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  color: #ed7c87;
}
.home-section .top-line .climat-calendar-info .panel-climat .image {
  background-color: transparent;
  max-width: 45%;
  height: auto;
}
.home-section .top-line .climat-calendar-info .panel-climat .temperature-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}
.home-section .top-line .climat-calendar-info .panel-climat .temperature-location .temperature {
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.home-section .top-line .climat-calendar-info .panel-climat .temperature-location .location {
  font-size: 0.8em;
  color: #464545;
}
.home-section .top-line .calendar-hour {
  display: flex;
  flex-direction: column;
}
.home-section .top-line .calendar-hour .hour-calendar {
  color: #ed7c87;
  font-size: 2.3em;
  font-weight: bold;
}
.home-section .top-line .calendar-hour .calendar-date-year {
  display: flex;
  flex-direction: row;
}
.home-section .top-line .calendar-hour .calendar-date-year .day-calendar {
  color: #464545;
  font-size: 0.8em;
  font-weight: bold;
  margin: 0 5px;
}
.home-section .top-line .calendar-hour .calendar-date-year .month-year-calendar {
  font-size: 0.8em;
  color: #464545;
}
.home-section .top-line .weather-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: #464545;
  margin-top: 10px;
}
.home-section .top-line .weather-info .weather-item {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.home-section .top-line .weather-info .weather-item .weather-item-img {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
  margin-right: 5px;
  max-width: 35px;
  height: auto;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.home-section .top-line .weather-info .weather-item .weather-item-info {
  display: flex;
  flex-direction: column;
}
.home-section .top-line .weather-info .weather-item .weather-item-info .item-name {
  font-weight: bold;
  color: #ed7c87;
}
.home-section .top-line .weather-info .weather-item .weather-item-info .item-value {
  color: #464545;
}
.home-section .top-line .tasks-created-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #e91e63;
  margin: 0 15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.home-section .top-line .tasks-created-info .tasks-created-count {
  font-size: 2em;
  font-weight: bold;
  color: #f8bbd0;
  margin-left: 10px;
}
.home-section .top-line .task-calendar {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.home-section .top-line .task-calendar .months-with-most-tasks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ed7c87;
  margin: 10px 0;
}
.home-section .top-line .task-calendar .months-with-most-tasks .custom-progress-bar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  margin: 5px 0;
  height: 23px;
}
.home-section .top-line .task-calendar .months-with-most-tasks .custom-progress-bar-container .custom-progress-bar-fill {
  height: 100%;
  background-color: #ed7c87;
}
.home-section .down-line {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.home-section .down-line .panel-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  gap: 10px;
  width: 50%;
}
.home-section .down-line .panel-3 h2 {
  color: #e91e63;
}
.home-section .down-line .panel-3 .favorite-tasks {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.home-section .down-line .panel-3 .favorite-tasks .favorite-tasks-list {
  width: 90%;
}
.home-section .down-line .panel-3 .favorite-tasks .favorite-tasks-list .favorite-task-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  border-left: 4px solid #e91e63;
  margin: 5px 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease;
}
.home-section .down-line .panel-3 .favorite-tasks .favorite-tasks-list .favorite-task-item:hover {
  transform: scale(1.02);
}
.home-section .down-line .panel-3 .favorite-tasks .favorite-tasks-list .favorite-task-item::before {
  content: "★";
  color: #f8df25;
  margin-right: 8px;
}
.home-section .down-line .panel-4 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-image: none;
  gap: 10px;
  padding: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.home-section .down-line .panel-4 h2 {
  color: #e91e63;
}
.home-section .down-line .panel-4 .archievements {
  margin: 10px 0;
}
.home-section .down-line .panel-4 .achievements-list {
  padding: 0;
  list-style: none;
}
.home-section .down-line .panel-4 .achievements-list .achievement-item {
  display: flex;
  align-items: center;
  border-radius: 8px;
  border-left: 4px solid #e91e63;
  background-color: #898485;
  margin: 5px 10px;
}
.home-section .down-line .panel-4 .achievements-list .achievement-item img {
  margin-left: 5px;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}
.home-section .down-line .panel-4 .achievements-list .achievement-item .achievement-info {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 3px;
}
.home-section .down-line .panel-4 .achievements-list .achievement-item .achievement-info h3 {
  color: #333333;
  margin: 0;
}
.home-section .down-line .panel-4 .achievements-list .achievement-item .achievement-info p {
  color: #666;
  font-size: 0.9em;
}

.main-title {
  font-size: 1em;
  text-align: start;
}

.hero {
  padding: 1%;
  margin: 0 3%;
  width: 100%;
  height: 90vh;
}
.hero .dashboard {
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 2%;
  margin: 15px;
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.hero .dashboard .tasks {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
  width: 50%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.hero .dashboard .tasks .task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.hero .dashboard .tasks .task-header .task-title {
  font-size: 1em;
  color: #ed7c87;
}
.hero .dashboard .tasks .task-header .bi-plus-circle {
  color: #ed7c87;
  font-size: 1.1em;
}
.hero .dashboard .tasks .task-header .task-button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 0.6em;
  color: #9b9696;
  padding: 5px 10px;
  transition: all 0.3s ease;
}
.hero .dashboard .tasks .task-date {
  text-align: center;
  border: 1px solid #888;
  border-radius: 10px;
  font-size: 0.8em;
  color: #171717;
  margin-bottom: 10px;
  width: 15%;
}
.hero .dashboard .create-task-section {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
  width: 30%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.hero .dashboard .create-task-section .create-task-title {
  font-size: 1.2em;
  color: #ed7c87;
  margin-bottom: 10px;
}
.hero .dashboard .create-task-section input {
  border: none;
  padding: 3px;
  margin: 2px 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.hero .dashboard .create-task-section .task-status {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hero .dashboard .create-task-section .task-status p {
  font-size: 0.8em;
  color: #61b4f8;
  margin: 0 5px;
}
.hero .dashboard .create-task-section .task-status .completed {
  font-size: 0.8em;
  color: #87f861;
}
.hero .dashboard .task-information-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 20%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.hero .dashboard .task-information-section .information-title {
  font-size: 1.2em;
  color: #ed7c87;
  margin-bottom: 10px;
}
.hero .dashboard .task-information-section .information-card {
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.hero .dashboard .task-information-section .information-card .information-card-title {
  font-size: 1em;
  color: #333;
  margin-bottom: 10px;
}
.hero .dashboard .task-information-section .information-card .information-card-value {
  font-size: 1em;
  color: #ed7c87;
  margin: 0 10px;
}

.card, .favorite-task-card {
  cursor: pointer;
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 2%;
  margin: 5px;
  transition: all 0.3s ease;
}
.card .card-title, .favorite-task-card .card-title {
  font-size: 1.2em;
  margin-bottom: 5px;
}
.card .card-description, .favorite-task-card .card-description {
  font-size: 0.9em;
  color: #555;
}
.card .card-footer, .favorite-task-card .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.card .card-footer .card-date, .favorite-task-card .card-footer .card-date {
  font-size: 0.8em;
  color: #888;
}
.card .card-footer .card-status, .favorite-task-card .card-footer .card-status {
  font-size: 0.8em;
  color: #58c8e4;
}
.card .card-footer .card-button, .favorite-task-card .card-footer .card-button {
  cursor: pointer;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #f8bbd0;
  padding: 5px 10px;
  transition: all 0.3s ease;
}
.card .card-footer .card-button:hover, .favorite-task-card .card-footer .card-button:hover {
  transform: translateY(-5px);
  background-color: #d65a63;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.card:hover, .favorite-task-card:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
}

.favorite-task-card {
  background-color: #f8bbd0;
}

.utility-panel, .utility-panel .panel-2, .utility-panel .panel-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #cdc5c5;
  border-radius: 10px;
  background-image: linear-gradient(to top, rgba(242, 160, 178, 0) 0%, rgba(245, 201, 201, 0.8) 50%, rgba(250, 208, 196, 0) 100%), linear-gradient(to bottom, rgba(250, 196, 219, 0) 0%, rgba(245, 245, 245, 0.4) 25%, rgba(250, 196, 219, 0) 100%);
  padding: 15px;
  margin: 10px 10px;
  width: 35%;
  min-height: 165px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.utility-panel .panel-1 {
  align-content: space-between;
}
.utility-panel .panel-2 {
  align-items: flex-start;
  margin: 0 25px;
}

.utility-vertical-panel, .utility-vertical-panel .panel-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #cdc5c5;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 10px;
  width: 35%;
  min-height: 165px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.utility-vertical-panel .panel-3 {
  background-color: white;
  margin: 0 25px;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 3px;
  margin: 2px 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.task-submit-button {
  background-color: #ed7c87;
  color: white;
  font-size: 0.8em;
}

/*# sourceMappingURL=style.css.map */
