@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
.header {
  display: flex;
  border: 1px solid #000;
  border-radius: 5px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  background-color: #ed7c87;
  padding: 10px;
  width: 15%;
  height: 90vh;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.header .navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-left: 1px solid #000;
  padding: 10px;
  margin: 10px 0;
}
.header .navbar .menu-items {
  margin: 3px;
  transition: all 0.3s ease;
}
.header .navbar .menu-items:hover {
  transform: scale(1.05);
  color: #61b4f8;
}

* {
  font-family: 100%/1.5 "Roboto Condensed", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contents-body {
  display: flex;
  background-color: #f0f0f0;
  color: #333;
  padding: 1%;
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.hidden {
  display: none;
}

.visible {
  display: flex;
}

.home-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #000000;
  width: 100%;
}
.home-section .climat-calendar-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-section .climat-calendar-info .panel-climat {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px;
  color: #ed7c87;
}
.home-section .climat-calendar-info .panel-climat .image {
  background-color: transparent;
  max-width: 45%;
  height: auto;
}
.home-section .climat-calendar-info .panel-climat .temperature-location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}
.home-section .climat-calendar-info .panel-climat .temperature-location .temperature {
  font-size: 2.5em;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.home-section .climat-calendar-info .panel-climat .temperature-location .location {
  font-size: 0.8em;
  color: #464545;
}
.home-section .calendar-hour {
  display: flex;
  flex-direction: column;
}
.home-section .calendar-hour .hour-calendar {
  color: #ed7c87;
  font-size: 2.3em;
  font-weight: bold;
}
.home-section .calendar-hour .calendar-date-year {
  display: flex;
  flex-direction: row;
}
.home-section .calendar-hour .calendar-date-year .day-calendar {
  color: #464545;
  font-size: 0.8em;
  font-weight: bold;
  margin: 0 5px;
}
.home-section .calendar-hour .calendar-date-year .month-year-calendar {
  font-size: 0.8em;
  color: #464545;
}
.home-section .weather-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  color: #464545;
  margin-top: 10px;
}
.home-section .weather-info .weather-item {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.home-section .weather-info .weather-item .weather-item-img {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px;
  margin-right: 5px;
  max-width: 35px;
  height: auto;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.home-section .weather-info .weather-item .weather-item-info {
  display: flex;
  flex-direction: column;
}
.home-section .weather-info .weather-item .weather-item-info .item-name {
  font-weight: bold;
  color: #ed7c87;
}
.home-section .weather-info .weather-item .weather-item-info .item-value {
  color: #464545;
}
.home-section .tasks-created-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #ed7c87;
  margin: 0 15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.home-section .tasks-created-info .tasks-created-count {
  font-size: 2em;
  font-weight: bold;
  color: #000000;
  margin-left: 10px;
}
.home-section .divider {
  width: 100%;
  height: 1px;
  background-color: #cdc5c5;
  margin: 2px 0;
}
.home-section .task-calendar {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.home-section .task-calendar .months-with-most-tasks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ed7c87;
  margin: 10px 0;
}
.home-section .task-calendar .months-with-most-tasks .custom-progress-bar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  margin: 5px 0;
  height: 23px;
}
.home-section .task-calendar .months-with-most-tasks .custom-progress-bar-container .custom-progress-bar-fill {
  height: 100%;
  background-color: #ed7c87;
}

.main-title {
  font-size: 1em;
  text-align: start;
}

.hero {
  padding: 1%;
  margin: 0 3%;
  width: 100%;
  height: 90vh;
}
.hero .dashboard {
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 2%;
  margin: 15px;
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
.hero .dashboard .tasks {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
  width: 50%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.hero .dashboard .tasks .task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.hero .dashboard .tasks .task-header .task-title {
  font-size: 1em;
  color: #ed7c87;
}
.hero .dashboard .tasks .task-header .bi-plus-circle {
  color: #ed7c87;
  font-size: 1.1em;
}
.hero .dashboard .tasks .task-header .task-button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 0.6em;
  color: #9b9696;
  padding: 5px 10px;
  transition: all 0.3s ease;
}
.hero .dashboard .tasks .task-date {
  text-align: center;
  border: 1px solid #888;
  border-radius: 10px;
  font-size: 0.8em;
  color: #171717;
  margin-bottom: 10px;
  width: 15%;
}
.hero .dashboard .create-task-section {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-right: 5px;
  width: 30%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.hero .dashboard .create-task-section .create-task-title {
  font-size: 1.2em;
  color: #ed7c87;
  margin-bottom: 10px;
}
.hero .dashboard .create-task-section input {
  border: none;
  padding: 3px;
  margin: 2px 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.hero .dashboard .create-task-section .task-status {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hero .dashboard .create-task-section .task-status p {
  font-size: 0.8em;
  color: #61b4f8;
  margin: 0 5px;
}
.hero .dashboard .create-task-section .task-status .completed {
  font-size: 0.8em;
  color: #87f861;
}
.hero .dashboard .task-information-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 20%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.hero .dashboard .task-information-section .information-title {
  font-size: 1.2em;
  color: #ed7c87;
  margin-bottom: 10px;
}
.hero .dashboard .task-information-section .information-card {
  display: flex;
  flex-direction: row;
  padding: 5px;
}
.hero .dashboard .task-information-section .information-card .information-card-title {
  font-size: 1em;
  color: #333;
  margin-bottom: 10px;
}
.hero .dashboard .task-information-section .information-card .information-card-value {
  font-size: 1em;
  color: #ed7c87;
  margin: 0 10px;
}

.card {
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 2%;
  margin: 5px;
  transition: all 0.3s ease;
}
.card .card-title {
  font-size: 1.2em;
  margin-bottom: 5px;
}
.card .card-description {
  font-size: 0.9em;
  color: #555;
}
.card .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.card .card-footer .card-date {
  font-size: 0.8em;
  color: #888;
}
.card .card-footer .card-status {
  font-size: 0.8em;
  color: #58c8e4;
}
.card .card-footer .card-button {
  background-color: #ed7c87;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.card .card-footer .card-button:hover {
  transform: translateY(-5px);
  background-color: #d65a63;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.card:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
}

.utility-panel, .utility-panel .panel-2, .utility-panel .panel-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #cdc5c5;
  border-radius: 10px;
  background-image: linear-gradient(to top, rgba(242, 160, 178, 0) 0%, rgba(245, 201, 201, 0.8) 50%, rgba(250, 208, 196, 0) 100%), linear-gradient(to bottom, rgba(250, 196, 219, 0) 0%, rgba(245, 245, 245, 0.4) 25%, rgba(250, 196, 219, 0) 100%);
  padding: 15px;
  width: 35%;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.utility-panel .panel-1 {
  align-content: space-between;
}
.utility-panel .panel-2 {
  align-items: flex-start;
  margin: 0 20px;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 3px;
  margin: 2px 0;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.05);
}

.task-submit-button {
  background-color: #ed7c87;
  color: white;
  font-size: 0.8em;
}

/*# sourceMappingURL=style.css.map */
