@use '../../global/variables' as *;

.interface-color__square {
    cursor: pointer;
    border: 1px solid $color-borber;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    transition: all 0.5s ease;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        outline: 3px solid $primary;
        transform: scale(1.1);
    }
}

.color-save-button {
    display: none;
}

.pink-color-square {
    background-color: #f8bbd0   ;
}

.purple-color-square {
    background-color: #9222e8;
}

.red-color-square {
    background-color: #f12626;
}

.gray-color-square {
    background-color: #a7a1a1;
}