@use '../../global/variables' as *;

.setting-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    & .setting-navbar-item {
        border-right: 1px solid #000;
        padding: 5px;
        margin: 5px;
        transition: all 0.5s ease;

        &:hover {
            border: 2px solid $primary-light;
            border-radius: 8px;
        }
    }
}