@use '../../global/variables' as *;
@use './nav';
@use './body-box';

.setting-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid $color-borber;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
}