@use '../global/variables' as *;
@use '../global/mixins' as *;

.home-section {
    @include setupSection;

    .top-line {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;

        // Painel de clima e calendário
        .climat-calendar-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .panel-climat {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                padding: 5px;
                color: #ed7c87;

                .image {
                    background-color: transparent;
                    max-width: 45%;
                    height: auto;
                }

                .temperature-location {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    margin-left: 10px;

                    .temperature {
                        font-size: 2.5em;
                        font-weight: bold;
                        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
                    }

                    .location {
                        font-size: 0.8em;
                        color: #464545;
                    }
                }
            }
        }

        .calendar-hour {
            display: flex;
            flex-direction: column;

            & .hour-calendar {
                color: #ed7c87;
                font-size: 2.3em;
                font-weight: bold;
            }

            & .calendar-date-year {
                display: flex;
                flex-direction: row;

                .day-calendar {
                    color: #464545;
                    font-size: 0.8em;
                    font-weight: bold;
                    margin: 0 5px;
                }

                .month-year-calendar {
                    font-size: 0.8em;
                    color: #464545;
                }
            }
        }

    .weather-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        color: #464545;
        margin-top: 10px;

        .weather-item {
            display: flex;
            align-items: center;
            margin-left: 10px;

            .weather-item-img {
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 3px;
                margin-right: 5px;
                max-width: 35px;
                height: auto;
                box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
            }

            .weather-item-info {
                display: flex;
                flex-direction: column;

                .item-name {
                    font-weight: bold;
                    color: #ed7c87;
                }

                .item-value {
                    color: #464545;
                }
            }
        }
    }

     // Painel de tarefas criadas
    .tasks-created-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: $primary;
        margin: 0 15px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

        .tasks-created-count {
            font-size: 2em;
            font-weight: bold;
            color: $primary-light;
            margin-left: 10px;
        }
    }

    .task-calendar {
        display: flex;
        flex-direction: column;
        margin: 0 15px;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        
        .months-with-most-tasks {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: #ed7c87;
            margin: 10px 0;

            .custom-progress-bar-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                overflow: hidden;
                margin: 5px 0;
                height: 23px;

                .custom-progress-bar-fill {
                    height: 100%;
                    background-color: #ed7c87;
                    }
                }
            }
        }

    }

    .down-line {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        
        .panel-3{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            gap: 10px;
            width: 50%;

            h2 {
                color: $primary;
            }

            .favorite-tasks {
                cursor: pointer;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin: 10px 0;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);

                .favorite-tasks-list {
                    width: 90%;

                    .favorite-task-item {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        color: #fff;
                        border-left: 4px solid $primary;
                        margin: 5px 0;
                        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
                        transition: transform 0.2s ease;

                        &:hover {
                            transform: scale(1.02);
                        }
                    }

                    .favorite-task-item::before {
                        content: '★';
                        color: #f8df25;
                        margin-right: 8px;
                    }
                }
            }
        } // panel-3

        .panel-4{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
            background-image: none;
            gap: 10px;
            padding: 10px;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

            h2 {
                color: $primary;
            }

            .archievements {
                margin: 10px 0;
            }

            .achievements-list {
                padding: 0;
                list-style: none;

                .achievement-item {
                    display: flex;
                    align-items: center;
                    border-radius: 8px;
                    border-left: 4px solid #e91e63;
                    background-color: $background-achievement; // Será mudado para uma cor mais clara usando JS quando o usuário conquistar a conquista
                    margin: 5px 10px;

                    img {
                        margin-left: 5px;
                        margin-right: 8px;
                        width: 40px;
                        height: 40px;
                    }

                    .achievement-info{
                        border: 1px solid #ccc;
                        border-radius: 8px;
                        padding: 3px;

                        h3 {
                            color: $text-color;
                            margin: 0;
                        }

                        p {
                            color: #666;
                            font-size: 0.9em;
                        }
                    }

                }
            }

        }
    }

}

@media (max-width: 600px) {
    .home-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border: 1px solid #e91e63;
        width: 95%;

        .top-line, .down-line {
            flex-direction: column;
            align-items: center;
        }

        .top-line {
            .climat-calendar-info, .calendar-hour {
                margin-bottom: 15px;
            }
        }

        .down-line {
            .panel-3, .panel-4 {
                width: 90%;
                margin-bottom: 15px;
            }
        }
    }
}

