@use '../../components/card' as *;

.list-box {
    display: flex;
    flex-direction: row;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 5px;
    width: 100%;
    margin: 10px 0;

    & .task-list-item{
        @extend .card;
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 50%;

        & .task-list-image-and-description-section {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            width: 100%;

            img {
                max-width: 150px;
            }
        }
    }
}